[ssh_connection]
ssh_args = "-o ForwardAgent=yes -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ControlMaster=auto -o ControlPersist=5m -o LogLevel=QUIET"
control_path = /tmp/ansible-%%r@%%h:%%p

[defaults]
forks = 48
pipelining = True
host_key_checking = False
deprecation_warnings=False
hash_behaviour=merge
