[submodule "deps/gnbsim"]
	path = deps/gnbsim
	url = https://github.com/opennetworkinglab/aether-gnbsim.git
	branch = master
[submodule "deps/k8s"]
	path = deps/k8s
	url = https://github.com/opennetworkinglab/aether-k8s.git
	branch = master
[submodule "deps/5gc"]
	path = deps/5gc
	url = https://github.com/opennetworkinglab/aether-5gc.git
	branch = master
[submodule "deps/amp"]
	path = deps/amp
	url = https://github.com/opennetworkinglab/aether-amp.git
	branch = master
[submodule "deps/4gc"]
	path = deps/4gc
	url = https://github.com/opennetworkinglab/aether-4gc.git
	branch = master
[submodule "deps/sdran"]
	path = deps/sdran
	url = https://github.com/opennetworkinglab/aether-sdran.git
	branch = master
[submodule "deps/ueransim"]
	path = deps/ueransim
	url = https://github.com/opennetworkinglab/aether-ueransim.git
	branch = master
[submodule "deps/aether-oai"]
	path = deps/aether-oai
	url = https://github.com/opennetworkinglab/aether-oai.git
