[submodule "deps/gnbsim"]
	path = deps/gnbsim
	url = https://gitlab.com/onf-internship/gnbsim.git
	branch = gnbsim-v2
[submodule "deps/k8s"]
	path = deps/k8s
	url = https://gitlab.com/onf-internship/k8s.git
	branch = k8s-v2
[submodule "deps/5gc"]
	path = deps/5gc
	url = https://gitlab.com/onf-internship/5gc.git
	branch = 5gc-v2
[submodule "deps/amp"]
	path = deps/amp
	url = https://gitlab.com/onf-internship/amp.git
	branch = amp-v2
[submodule "deps/4gc"]
	path = deps/4gc
	url = https://gitlab.com/onf-internship/4gc.git
